body {
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.span-title {
    font-size: large;
    font-weight: bold;
    padding-right: 300px;
    padding-left: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navigate-orientir {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.span-nav {
    padding-top: 50px;
    padding-right: 170px;
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: black;
}

.div-nav-end {
    text-align: end;
}

.desire-photo img {
   /* CSS style is was here. Really. */
}

.photo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
}

.text {
    padding-top: 50px;
    margin-left: 50px; 
    margin-right: 50px;
}

.p-style {
    color: lightgrey;
    
}

.p-style a {
    color: lightgrey;
}

input {
    outline: none;
    border: none;
}

.img-email {
    border: none;
    width: 10px;
}

.email-style {
    text-align: center;
    padding: 100px;
}

.load-more {
    font-size: larger;
    color: black;
    border: 1px solid black;
    width: 200px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 45%;
}

.footer {
    padding-top: 200px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.footer1 {
    display: flex;
    flex-direction: row;
}